/**My css footer**/

*/
:root{
    --yellow: #FFCC00;
 }

*{
    font-family: Arial, Helvetica, sans-serif;
}
footer{  
    margin-top:20px;
    margin-bottom: 20px;
    color:var(--yellow);
    background-color:black;   
}

li{
    list-style-type: none;
    margin-top:5px;
    margin-bottom: 5px; 
}

a{
    color:var(--yellow);
    text-decoration: none;
}

/**class*/

.justify{
    text-align: justify;  
}

.patron{
    color:var(--yellow);
    font-family: fantasy;
    font-size: 20px;
    margin-bottom: 20px;  
}

.dsplay{
    display:inline-block;
    width: 24%;  
    margin-top:20px; 
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 15px;
    margin-right: 20px;  
}

.copyright{
     text-align: center;
     background-color:#f4f6f6;
     color:black;  
}
 
/*style du sous menu Prestations*/
.dropbtn {
    background-color: #FFCC00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    text-align: justify;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      margin-top:-180px;
    border-radius: 6px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color:#FFCC00;}
  
  .prestationFooter:hover .dropdown-content {display: block;}
  
/* ajoute apres le texte de l'onglet un ▼ de 15px de taille*/

.dropdown p::after{
    content: "▼";
    font-size: 15px;
}


/**Médias querys  */

@media screen and (max-width:1024px){
    
    footer{
        width: 100%;
        background-color: black;
        font-size:11px;  
        
    }
    
    .logo{
        width: 50px;
        height: 50px;
        border-radius: 50%; 
        margin-top: 20px;
        margin-left: 30px;
    }

    .dsplay{
        display:inline-block;
        width:45%;
        margin-left: 5px;
        margin-bottom:20px;
        margin-right: 10px;
        text-align: justify; 
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10px 2em;   
    }

 
    

}


  
