

/*footer**/


footer{
    background-color:#e5e7e9
}



li{
    list-style-type: none;
   
}

a{
    color: #FFCC00;
    text-decoration: none;
}


/**classe*/
span[class^="icon-"] {
    margin-right: 0.5em;
}


.justify{
    text-align: justify;
}

.darkcolor{
    color:black;
}

.patron{
    color:#FFCC00;
    font-family: fantasy;
    font-size: 20px;
    
}

.dsplay{
    display: inline-block;
    width: 23%;
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 15px;
    margin-left: 30px;
}
 .copyright{
     text-align: center;
     background-color:#f4f6f6;

 }
