

/*footer**/


footer{
    
    margin-top:20px;
    margin-bottom: 20px;
    color:#FFCC00;
    background-color:black;

    
}


li{
    list-style-type: none;
    margin-top:5px;
    margin-bottom: 5px;
   
}

a{
    color:#FFCC00;
    text-decoration: none;
}





/**classe*/
span[class^="icon-"] {
    margin-right: 2em;
}


.justify{
    text-align: justify;
    
}

.darkcolor{
    color:black;
}

.yellow{
    color:#FFCC00;
}

.patron{
    color:#FFCC00;
    font-family: fantasy;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.dsplay{
    display: inline-block;
    width: 23%;
   
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 15px;
    margin-left: 30px;
}

 .copyright{
     text-align: center;
     background-color:#f4f6f6;
     color:black;

 }
 
/**Règles de médias a faire  */
@media screen and (max-width: 1024px)
{
    p
    {
        
       
        font-size: 1.2em;
        
    }
}

  
