
body
{
  text-align: center;
}

#global
{
  margin: 0 auto;
  width: 200px;
}

img {
  border:2px #FFCC00 outset ;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 150px; 
}

img:hover {
  transform: scaleX(-1);
}

#photos > p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  height:20px;
  margin-top:10px;
  margin-bottom: 20px;

}

#photos > div {
  display:inline-block;
  position: relative;
  margin-top:30px;
  margin-left:40px;
}

.center{
  text-align: center;
}


.description{
  text-align: center;
  background-color:#FFCC00;
  border-radius: 10px;
  color:white;
  width: 60%;
  height:100px;
  margin-left: auto;

}
/*Page mentions légales**/
.pageMentionLégale{
  text-align: justify;
  margin-right: 100px;
  margin-left:100px
}



  





